/*----------------------------------------*/
/*  21. price CSS START
/*----------------------------------------*/


@use '../utils'as *;

.price-bg {
    background-color: var(--tp-primary-primary-2);
}

.cpprice {
    border: 1px solid #F0F1F6;
    border-radius: 20px;
    padding: 47px 47px 55px 47px;
    height: 1000px;
    position: relative;

    &__meta {
        margin-bottom: 30px;

        & span {
            font-size: 20px;
            color: var(--tp-common-black);
            font-weight: 400;

            & b {
                font-size: 50px;
                font-weight: bolder;
                color: var(--tp-common-black);
            }
        }
    }

    &__meta-small {
        margin-bottom: 20px;
        /* Adjust margin as needed for spacing */

        & span {
            font-size: 14px;
            /* Reduced by 30% (20px - 30%) */
            color: var(--tp-common-black);
            font-weight: 400;

            & b {
                font-size: 35px;
                /* Reduced by 30% (50px - 30%) */
                font-weight: 500;
                color: var(--tp-common-black);
            }
        }
    }

    &__list {
        & ul {
            & li {
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                color: #8A90A2;
                margin-bottom: 17px;
            }
        }
    }

    &__button {
        position: absolute;
        bottom: 0;
    }
}


.cp-price-title {
    font-size: 35px;
    font-weight: 400;
    color: var(--tp-common-black);
    border-bottom: 1px solid #F0F1F6;
    padding-bottom: 40px;
    margin-bottom: 60px;
}

.cp-price-sm-title {
    font-size: 16px;
    color: var(--tp-common-black);
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 40px;
}

.cpprice.active {
    position: relative;

    & .cpprice__meta span,
    & .cpprice__meta span b,
    & .cpprice__meta-small span,
    & .cpprice__meta-small span b {
        color: var(--tp-primary-danger);
    }


    & .cp-price-sm-title {
        padding-bottom: 40px;
    }

    & .cpprice__meta {
        margin-bottom: 30px;

        & span {
            font-size: 20px;
            font-weight: 400;

            & b {
                font-size: 50px;
                font-weight: bolder;
            }
        }
    }
}



.jobitem {
    border: 1px solid #F6F6F6;
    padding: 50px 38px;
    border-radius: 20px;
    transition: .3s;

    &__brand {
        margin-bottom: 45px;
    }

    &__details {
        & p {
            font-weight: 400;
            font-size: 16px;
            text-transform: capitalize;
            color: #8A90A2;
            padding-bottom: 10px;

            & i {
                padding-right: 8px;
            }

            &:last-child {
                padding-bottom: 36px;
            }
        }
    }

    &:hover {
        box-shadow: 0px 16px 11px rgba(224, 224, 224, 0.25);
    }
}

.job-title-sm {
    font-size: 20px;
    color: var(--tp-common-black);
    line-height: 32px;
    font-weight: 500;
    padding-bottom: 25px;

    & a {
        background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
        display: inline;
        background-size: 0% 1px, 0 1px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 0.4s linear;

        &:hover {
            background-size: 0% 1px, 100% 1px;
        }
    }
}